<!DOCTYPE html>
<html>

<head>
    <meta name="pypi:repository-version" content="1.0">
    <title>Links for Rx</title>
</head>

<body>
    <h1>Links for {{name}}</h1>
    {% for release in releases %}
    <a
        href="http://localhost:8000/downloads/pypi/{{name}}/{{release.version}}/{{release.filename}}#sha256={{release.sha256}}">{{release.filename}}</a><br />
    {% endfor %}
</body>

</html>
<!-- SERIAL 12345 -->